elasticsearch==9.1.0
httpx==0.28.1
minio==7.2.16
numpy==2.3.2
pandas==2.3.1
prefect==3.4.13
pyarrow==21.0.0
pytest==8.4.1
python-dotenv==1.1.1
PyYAML==6.0.2
Requests==2.32.4
scipy==1.16.1
SQLAlchemy==2.0.43
Unidecode==1.4.0
