elasticsearch==8.15.1
httpx==0.28.1
minio==7.2.15
numpy==2.3.1
pandas==2.3.1
prefect==3.4.7
pyarrow==20.0.0
pytest==8.4.1
PyYAML==6.0.2
Requests==2.32.4
SQLAlchemy==2.0.41
Unidecode==1.4.0
scipy==1.16.1